# Introduction to Python

## What is Python?

Python is an extremely common programming language that is becomming more and more popular with all types of programmers. It especially strong in data handling, and is the language of choice for AI and data science applications including machine learning. 

Python was invented in 1990 by Guido van Rossum and was specifically designed for programmers (not computers). Thus it's one of the best programming languages to learn as a first language. 

> So I set out to come up with a language that made programmers more productive, and if that meant that the programs would run a bit slower, well, that was an acceptable trade-off - Van Rossum

### The Zen of Python

Python has a philosophy built into the language

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Running the Python interperter

If you are using the recommended Jupyter Lab, then you can eaisly access a terminal in the same window as this notebook

We can start an interactive Python **interpreter** session by typing the following 

```bash
#  the $ indicates the command is run in a shell
$ python
```

We can see where this Python executable is located on our machine using the bash program `which`:

In [2]:
#  use ! to run bash/shell code in the notebook directly

And what version of Python we are using by running Python with a command line argument:

In [ ]:
#  use ! to run bash/shell code in the notebook directly

# Python development environment

## iPython

IPython = Interactive Python 
- command shell for interactive computing
- IPython is what runs in Jupyter

## Python development environments (IDEs)

An IDE is where you develop your code. 
In Python, we run code in 2 different ways: 
- iPython: lets you run small snippets of code directly
- Python: script mode, runs entire programs

## Using Python
Python works with (mainly) 2 different things at the lowest level:
1. Data types
2. Functions

Data types store data. Functions act on or change those bits of data.
We name different <i> instances </i> of those data types and save them as variables to make our code easier to read and work with.

## Data Types - Numbers
There are 2 different data types for holding numeric values in python - floats and integers.
Python can be used just like a calculator to work on these numbers.

In [3]:
type(16)

int

In [4]:
type(16.4)

float

We can use the typical operators we know `(+, *, /, etc.) ` to perform math operations.

NOTE: `=` in python is used to assign a variable to a name. It is NOT necessary for doinga math operation.

Python will complete the operations based on correct order of operations.

In [5]:
4*1*3

12

We can do exponentiation:

In [6]:
4**2

16

In [7]:
float(4)**6

4096.0

The modulo (`%`) operator gives us the remainder after division:

In [9]:
20%3

2

This can be used to check if a number is even:

In [10]:
20%2==0

True

## Data Types - Booleans

Many expressions in Python have a "truth value" and evaluate to one of the two boolean values.
- values which are evaluated to `True` or `False`

In [11]:
bool(None)

False

In [12]:
bool([])

False

## Data Types: Strings

String data types hold text data. If a number appears in a string, it isn't treated as a number (can't be added, multiplied, etc.).
They can be written in multiple ways:

Can use `"`, `'` or `str()`

In [13]:
type('this is fine')

str

In [14]:
type("this is fine")

str

In [15]:
str(16)

'16'

Files are just big lists of characters

`\n` in the newine character

In [ ]:
lines= "Fist line"

Multiple line strings:

In [ ]:
# showing that the line break is read from the typed line break

Strings next to each other are joined:

In [16]:
"Py""thon"

'Python'

We can add strings together (called concatenation):

In [17]:
"ja" + "nein"

'janein'

In [19]:
"ja" + " " + "nein"

'ja nein'

And multiply them:

In [21]:
"ja"*3

'jajaja'

What happens when we try to multiply this string?:

## String formatting

There are many formatting tricks in Python to control how strings appear. 
Most formatting commands involve the `{}` curly brackets.

In [26]:
day="Wednesday"
print("Today is day:{}".format(day)

SyntaxError: ignored

We can control the formatting of decimal places

## String stripping

A common operation is removing whitespaces:

Related is to remove characters from the string - this can be done by replacing with `''`

## `in`

A way to check if an object exists in an iterable using `in`.  As strings are iterable, this syntax works with strings:

In [27]:
new_string ="Python"

In [28]:
"P" in new_string

True

## Comparisons
a double equals sign is used to compute comparisons in Python.

An exclamation sign followed by an equals sign means "is not equal to"

In [29]:
5==6

False

In [30]:
5!=6

True

## Logical operators

`and`, `or`, `not`

In [31]:
True and True

True

In [32]:
True and False

False

In [33]:
True or False

True

In [34]:
True is not False

True

## Conditionals
Booleans can be used in conditional commands. 
Conditional commands work just like the "IF..THEN.." command you know from Microsoft Excel.


Try changing the value of X in the example below:

In [37]:
x = 5

In [38]:
if x <= 10:
  print("x is less than 10")
else:
  print("x is greater than 10 ")

x is less than 10

We can add almost infinite layers to our conditional by adding `elif` to the conditional block

In [39]:
y=20

In [40]:
if x<= 10 or y<= 10:
  print("one of the numbers is less than or equal to 10")
elif x>20:
  print("x is greater than 10")
elif:
  print("x is between 11 and 19")

SyntaxError: ignored

## Datatypes: List
A list in python is a collection of datapoints. It is created with brackets `[]` or using `list()`. 
We can use **selectors** to select specific items within the list.

In [41]:
my_list = [1, 1.0, "hello"]

Selectors are called after the list using `[]`. PYthon starts counting at 0. To get the first element of the list then, we need to use 0 inside the selector. To get the second item, we would put a 1 inside the selector. 

We can also start from the back of the list, using -1. Then every positional element we want to get after the last one, we subtract one further. For example, if we want to get the 2nd-from-last element, we could select this element by putting -2 in the selector.

In [42]:
my_list[0]

1

In [43]:
my_list[1]

1.0

In [44]:
my_list[-1]

'hello'

In [45]:
[1, 1.0, "hello"][1]

1.0

Selecting a range of a list

In [47]:
weekdays = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
    "Saturday",
    "Sunday"
]

Select Thursday and Friday from the list

In [48]:
weekdays[3:5]

['Thursday', 'Friday']

In [49]:
weekdays[0,-1]

TypeError: ignored

## Variables & objects

In Python (unlike other languages) there is a difference between **objects** and **variables**:
- object = the actual data in memory
- variable = a label that refers to an object

Objects have an identity, type and value.  Only the value changes over time.

In Python, variables **refer** to objects.  They are labels for objects - not the object themselves.
- one object can have many labels
- one label = only one object

Below we create two objects

In [50]:
first =[2,4,5]
second= [2,4,5]

We can use two different operators to compare these variables.

The `==` operator checks if the two objects have the same values:

In [51]:
second == first

True

The `is` operator checks whether both variables refer to the same object:

In [52]:
third = first

Under the hood Python is comparing the object's `id` - a unique value for each object:

# Loops
In Python (and programming in general), we'll find many times when we want to do the same calculation over multiple values. This is what loops are for. They allow us to iterrate through lists, or rows in a table of data. 

### `for`

We can iterate through any object that has multiple smaller objects within it, like a list. 
A list contains multiple smaller elements within it.

In [53]:
for i in first:
  print(i)

2
4
5

In [54]:
p = [1,5,8,12,6]
for i in p:
  new_number = i+5
  print("old number is: ", i)
  print("new number is: ", new_number)

old number is:  1
new number is:  6
old number is:  5
new number is:  10
old number is:  8
new number is:  13
old number is:  12
new number is:  17
old number is:  6
new number is:  11

In [ ]:
p = [1,5,8,12,6]
for i in p:
  new_number = i+5
  print("old number is: ", i)
  print("new number is: ", new_number)

Question: What will happen if we call `new_number` now?

How could we see all of the new_numbers?

A useful tool in python exists for making increasing 'counting-style' lists. This is called `range`. With range, the programmer enters the value at which they want the list to start and stop, and the 'step' of the list. Normally this would be 1. Setting the step to 2 counts off by skipping the intermediary number.

In [56]:
range(10)

range(0, 10)

Range doesn't "show" the list, have to convert it to a list to see this. However, it is still iterable.

In [57]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

setting starting point with range

setting step size with range

In [59]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

## Strings are iterable

In [60]:
for i in "python":
  print(i)

p
y
t
h
o
n

We can use the builtin `len` to measure the number of characters in a string:

(can also be used to measure length of a list, or any iterable)

In [61]:
len("python")

6

We can see some of the other functionality available on the `str` object using `dir`:

In [62]:
len(first)

3

## Exercises

Write a program to print out:

```
*****                                                                  
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *                                                                    
  *  
```

It might be useful to know you can do

`'*' * 2 = '**'`

`'*' + ' ' = '* '`


`'\n'` makes a line break in python

In [64]:
for i in range(7):
  if i==1

SyntaxError: ignored

Write a program to print:
```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

## Datatypes: Dictionary

Dictionaries are a handy way to keep track of data in key-value pairs. 
`{key1: value1, key2: value2}`

Let's make a list of dictionaries:

In [65]:
data = [
    {'author': 'F. SCOTT FITZGERALD', 'text': 'Action is character'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'Every man is my superior in some way. In that, I learn of him'},
    {'author': 'RALPH WALDO EMERSON', 'text': 'The purpose of life is not to be happy. It is to be useful, to be honorable, to be compassionate, to have it make some difference that you have lived and lived well'},
    {'author': 'Ralph Waldo Emerson', 'text': 'Every man alone is sincere.  At the entrance of a second persion, hypocrisy beings'},
    {'author': 'Majjha Nikaya', 'text': 'This is, because that is.  This is not, because that is not.  This is like this, because this is like that'}
]

We can select our first quote dictionary:

In [66]:
len(data)

5

We can iterate over the keys:

In [67]:
dict_1 = data[0]

In [68]:
dict_1["text"]

'Action is character'

In [ ]:
for key in dict_1:

And the same for the values:

And both at the same time:

In [69]:
for index, element in enumerate(first):
  print(index,element)

0 2
1 4
2 5

We can then use the dictionaries to make a DataFrame (more on this in the pandas class :) )

In [ ]:
import pandas as pd

## Exercises:

Write a Python program to display the first and last colors from the following list.

color_list = ["Red","Green","White" ,"Black"]

Should display "Red Black"

In [70]:
color_list = ["Red","Green","White" ,"Black"]

In [73]:
print(color_list[0],color_list[3])

Red Black

Sum all the items in the following list:
x = [1, 2, 3, 7, 12]

(hint: no using built-in functions!)

In [74]:
x = [1, 2, 3, 7, 12]

In [75]:
sum = 0
for i in x:
  sum = sum + i
print(sum)

25

Get the maximum number from a list: y = [-10, 6, 8, 14]

(hint: no using built-in functions!)

In [76]:
y = [-10, 6, 8, 14]

In [81]:
print(range(3))

range(0, 3)

In [98]:

for index, i in enumerate(y):
  if index == 0:
    highest = index
  else:
    if i > highest:
      highest = i
print(highest)

14

Check if a list is empty or not.

For list p = [ ], should print "True".

For list q = [1, 2, 3, 4] should print "False".

In [84]:
p =[]

In [86]:
len(p)==0

True

In [87]:
q = [1, 2, 3, 4]

In [92]:
len(q)==0

False

Add the {key: value} pair `{"Susan: 43}` to the dictionary `ages = {"Joe": 50, "Gretchen": 31}`

In [93]:
ages = {"Joe": 50, "Gretchen": 31}

In [95]:
ages["Susan"] = 43

In [96]:
ages

{'Joe': 50, 'Gretchen': 31, 'Susan': 43}